@font-face {
  font-family: IRANSans;
  src: url("./fonts/IRANSansXFaNum-Regular.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: IRANSans;
  src: url("./fonts/IRANSansXFaNum-Medium.woff2") format("woff2");
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: IRANSans;
  src: url("./fonts/IRANSansXFaNum-Bold.woff2") format("woff2");
  font-style: normal;
  font-weight: 800;
}
@font-face {
  font-family: IRANSans;
  src: url("./fonts/IRANSansXFaNum-DemiBold.woff2") format("woff2");
  font-style: normal;
  font-weight: 900;
}
